body {
    background-color: #5372a5;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 20px;
  }
  .color-word {
    color: #161728;
    font-size: 18px;
    font-weight: 900;
  }
