body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: peachpuff;

  text-align: center;
}

header {
  background-color: #1a0d00;
  color: #fff;
  padding: 100px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #0099cc;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 150px;
  position: relative;
  transition: transform 0.3s ease-out;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #663300;
  color: #fff;
  padding: 100px;
}
